.logo img{
    width: auto;
    height: 70px;
    transition: all 0.1s;
        -webkit-filter: drop-shadow(2px 2px 3px rgba(160,160,160,0.7));
    &:hover{
        -webkit-filter: drop-shadow(4px 4px 4px rgba(160,160,160,0.7));
    }
}

//Menu Item
.nav-link{
	text-transform: uppercase;
}
.dropdown-menu{
	>.dropdown-item:active{
		background: rgba(255, 139, 0, 0.4);
	}
	.dropdown-item.active{
		background: #ff8b00;
	}
}



  

  

  

  
