.logo img{
    width: auto;
    height: 70px;
    transition: all 0.1s;
        -webkit-filter: drop-shadow(2px 2px 3px rgba(160,160,160,0.7));
    &:hover{
        -webkit-filter: drop-shadow(4px 4px 4px rgba(160,160,160,0.7));
    }
}
.navbar{
	-webkit-box-shadow: 0 2px 4px 0 rgba(124,124,124,.5);
	box-shadow: 0 2px 4px 0 rgba(124,124,124,.5);
	padding: 0;
	font-family: 'MontserratRegular', sans-serif;
}
.navbar.sticky-top{
	padding: 0;
}

.navbar-light {
	.navbar-nav a.nav-link {
		color: #333 ;
	}
	.navbar-toggler {
		border-color: transparent !important;
		outline: none;
	}
}


//Menu Item
.nav-link{
	text-transform: uppercase;
	margin-left: 10px;
	>a.nav-link {
		margin-left: 0;
	}
}
.dropdown-menu{
	>.dropdown-item:active{
		background: rgba(255, 139, 0, 0.4);
	}
	.dropdown-item.active{
		background: #ff8b00;
	}
}

.dropdown-toggle::after {
	position: absolute;
	right: 0;
	top: 15px;
	display: none;
}
.dropdown-toggle:hover{
	color: #ff8b00 !important;
}

@media only screen and (max-width: 720px) {
	.dropdown-toggle::after {
		right: 15px;
	}
}