/* CONTACTS SECTION */
@import '../../vars';
.contact-item-wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	
	 section {
		border: 1px solid $gray-light;
		display: flex;
		align-items: center;
		width: 356px;
		padding: 40px;
		text-align: center;
		margin-bottom: 20px;
		box-shadow: 0px 0px 9px 3px rgba(219,219,219,1);
	}
	
	.text-wrap {
		span {
			color: $gray-solid;
			display: block;
			font-size: 24px;
			text-align: left;
		}
		
		& span:first-of-type {
			font-family: 'MontserratSemibold';
			text-transform: uppercase;
		}
		
		& span:last-of-type {
			font-family: 'RalewayRegular';
		}
		
		& a{
			color: $gray-solid;
			text-decoration: none;
			&:hover{
				color: $orange;
			}
		}
	}
	.contact-imgs {
		background-image: url('./img/contact-icons.png');
		background-repeat: no-repeat;
		display: inline-block;
		width: 55px;
	}
}

.bg-skype {
	background-position: -20px -20px;
	width: 45px;
	height: 41px;
}

.bg-resume {
	background-position: -20px -184px;
	width: 45px;
	height: 45px;
}

.bg-email {
	background-position: -20px -101px;
	width: 45px;
	height: 43px;
}