/* SLIDER */
/*Carousel block*/
.carousel {
    height: 280px;
}
.carousel-item {
    height: 280px;
}
.slide-block {
    background-size: cover;
    height: 100%;
    width: 100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 50px;
}
span.carousel-control-prev-icon {
    background-image: url('./img/arrow-icons.png'); 
    background-position: -50px;
    background-size: 100px;
}
span.carousel-control-next-icon {
    background-image: url('./img/arrow-icons.png'); 
    background-position: 0;
    background-size: 100px;
}
.carousel-caption {
    text-align: left;
    bottom: 50px;
	font: 1.6rem 'MontserratRegular', sans-serif;
    p, span {
        &.bolder-txt {
            font-weight: bold;
        }
    }
    .caption-img {
        width: 120px;
        float: right;
    }
    .caption-proj-img {
        position: absolute;
        right: 0;
        bottom: 30px;
    }
}

.bolder-txt>span{
	font-weight: bold;
}
/*End Carousel block*/

@media only screen and (max-width : 768px) {
	.carousel-caption {
		text-align: center;
		bottom: 35px;
		font-size: 1.3rem;
		p.bolder-txt {
				font-weight: bold;
			}
		.caption-img{
			float: none;
			display: block;
			margin: auto;
		}
		.caption-proj-img {
			display: block;
			position: static;
			width: 60px;
			margin: auto;
		}
	}
}
