/* SLIDER */
/*Carousel block*/
.carousel {
    height: 280px;
}
.carousel-item {
    height: 280px;
}
.slide-block {
    background-size: cover;
    height: 100%;
    width: 100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 50px;
}
span.carousel-control-prev-icon {
    background-image: url('./img/arrow-icons.png'); 
    background-position: -50px;
    background-size: 100px;
}
span.carousel-control-next-icon {
    background-image: url('./img/arrow-icons.png'); 
    background-position: 0;
    background-size: 100px;
}
.carousel-caption {
    text-align: left;
    bottom: 50px;
    p, span {
        font: 1.6rem 'MontserratRegular', sans-serif;
        &.bolder-txt {
            font-weight: bold;
        }
    }
    .caption-img {
        width: 120px;
        float: right;
    }
    .caption-proj-img {
        position: absolute;
        right: 0;
        bottom: 50px;
    }
}
/*End Carousel block*/
