/* Montserrat-Regular */

@font-face{
    font-family: 'MontserratRegular';
    src: url('fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
         url('fonts/Montserrat-Regular/Montserrat-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat-Medium*/

@font-face{
    font-family: 'MontserratMedium';
    src: url('fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
         url('fonts/Montserrat-Medium/Montserrat-Medium.woff2');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat-Semibold */

@font-face{
    font-family: 'MontserratSemibold';
    src: url('fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
         url('fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2');
    font-weight: normal;
    font-style: normal;
}

/* ACaslonPro-Regular */

@font-face{
    font-family: 'ACaslonProRegular';
    src: url('fonts/ACaslonPro-Regular/ACaslonPro-Regular.woff') format('woff'),
         url('fonts/ACaslonPro-Regular/ACaslonPro-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

/* ACaslonPro-Semibold */

@font-face{
    font-family: 'ACaslonProSemibold';
    src: url('fonts/ACaslonPro-Semibold/ACaslonPro-Semibold.woff') format('woff'),
         url('fonts/ACaslonPro-Semibold/ACaslonPro-Semibold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* MinionProRegular */

@font-face{
    font-family: 'MinionProRegular';
    src: url("fonts/MinionPro-Regular/MinionPro-Regular.otf") format("opentype"),
         url('fonts/MinionPro-Regular/MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Raleway */

@font-face{
    font-family: 'RalewayRegular';
    src: url('fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'RalewaySemibold';
    src: url('fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* FontAwesome for Icons */

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
    url('fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
    url('fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
    url('fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}
